body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}
.skill-checks input[type="checkbox"] {
	margin-left: 5px;
	margin-right: 5px;
	width:30px;
	height:30px;
	border-radius:5px;
	border:2px solid #555;
}
.personal-profile input, .personal-profile textarea {
	max-width: 100%;
}
.field-secion {
	margin-top: 10px;
}
.user-profile-section {
	margin-top: 20px;
}
