@{
	ViewBag.Title = "Home";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-8">
	<h1>Home</h1>
	<hr />
	<div class="row">
		Piece of information about startup #1
	</div>
	<div class="row">
		New Startrup Request
	</div>
	<div class="row">
		Startup 2 has marked business as complete
	</div>
	<div class="row">
		Piece of information about startup #1
	</div>
</div>
<div class="col-md-4">
	<h1>Activity Feed</h1>
	<hr />
	<div class="activity-feed">
		<ul>
			<li>Startup 1</li>
			<li>Startup 2</li>
			<li>Startup 3</li>
			<li>Startup 4</li>
			<li>Startup 5</li>
			<li>Startup 6</li>
		</ul>
	</div>
</div>